@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-mu1mk3');
	src:url('../fonts/icomoon.eot?#iefix-mu1mk3') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-mu1mk3') format('woff'),
		url('../fonts/icomoon.ttf?-mu1mk3') format('truetype'),
		url('../fonts/icomoon.svg?-mu1mk3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.card-face, .card-rank{font-family: 'Ultra', serif;}

/* fonts */
h2,h3,h4,h5,h6,.navbar{font-family:inherit;}
/* copy text */
body {font-family: 'Noto Sans', sans-serif;}
/* main headers */
h1, #index_page .section{font-family:'IM Fell DW Pica SC', serif;}
/* brand name */
.page-header h1, .navbar-brand  {font-family:'IM Fell DW Pica SC', serif}
/* brand icon */
.navbar-icon {width:30px; float:left; padding-right:5px}
/* decklist names and user names */
.decklist-name{font-family:'Anaheim',sans-serif}
.reputation{font-family:'Anaheim',sans-serif}
.username{font-family:'Anaheim',sans-serif}
.social{color:darkgray;font-family: 'Anaheim';}
.social>div>a, .social>div>span{margin:0 10px;font-family:'Anaheim'}

/* classes .card-* used in card pages, card modal, card tip */
.card-title{font-size:125%;position:relative;z-index: 10;margin-right: 15px}
.card-text{border-left:1px solid #888}
.card-text sup{line-height:0;font-size:x-small}
.card-text p{margin:6px}
.card-flavor{font-style:italic}
.pack-future, .card-preview{color:red}
.card-keywords {font-weight:bold;text-align:center}
.card-extra {text-align:right}
/* */


[class^="suit-"], [class*=" suit-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.suit-spades:before {
	content: "\e600";
}
.suit-clubs:before {
	content: "\e601";
}
.suit-diams:before {
	content: "\e602";
}
.suit-hearts:before {
	content: "\e603";
}

#push{clear:both}
.type-icon,.gang-icon{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

.card-face-diams, .card-face-hearts, .suit-diams, .suit-hearts { color: red }

#tag_toggles button {margin:0 1px 1px 0}
.label {margin:0 1px 1px 0}
/*
.tag-anarch{background-color:orangered}
.tag-criminal{background-color:royalblue}
.tag-shaper{background-color:limegreen}
.tag-neutral{background-color:gray}
.tag-haas-bioroid{background-color:blueviolet}
.tag-jinteki{background-color:crimson}
.tag-nbn{background-color:darkorange}
.tag-weyland-consortium{background-color:darkgreen}

.tag-corp{color:blue;background-color:#ddd}
.tag-runner{color:red;background-color:#ddd}
*/
.anarch, .icon-bg.icon-anarch:before{stroke:orangered;color:orangered !important;border-color:orangered}
.criminal, .icon-bg.icon-criminal:before{stroke:royalblue;color:royalblue !important;border-color:royalblue}
.shaper, .icon-bg.icon-shaper:before{stroke:limegreen;color:limegreen !important;border-color:limegreen}
.neutral{stroke:gray;color:gray !important;border-color:gray}
.haas-bioroid, .icon-bg.icon-haas-bioroid:before{stroke:blueviolet;color:blueviolet !important;border-color:blueviolet}
.jinteki, .icon-bg.icon-jinteki:before{stroke:crimson;color:crimson !important;border-color:crimson}
.nbn, .icon-bg.icon-nbn:before{stroke:darkorange;color:darkorange !important;border-color:darkorange}
.weyland-consortium, .icon-bg.icon-weyland-consortium:before{stroke:darkgreen;color:darkgreen !important;border-color:darkgreen}
.admin{stroke:deeppink;color:deeppink !important;border-color:deeppink}
.qtip-dtdb{min-width: 310px;max-width:550px;font-size:85.7%}
.qtip-dtdb .card-image { float: right;height:90px;width: 101px; background-size:120px;background-repeat: no-repeat; margin: 5px 0px;position: relative;background-position-x:-10px;background-position-y:-10px}
.qtip-dtdb .card-image svg { position: relative; top: -1px; left: -1px; height:92px;width: 103px }
div.card-text sup{line-height:0;font-size:x-small}
div.card-text p{margin:6px}
.card-flavor{font-style:italic}
.card-preview{color:red}
html{height:100%;background:lightgray}
body {height:100%;padding-top:70px;}
#wrapper{background:white;padding-bottom:50px;/*box-shadow:0px 1px 10px black;*/border-bottom:1px solid silver;}
#footer{padding:50px 0;color:darkgray}
.color-corp{color:blue}
.color-runner{color:red}
.fake-inline-button{white-space:nowrap}
.jumbotron{/*box-shadow:-1px 1px 4px*/border:1px solid silver;border-width:1px 0px}
textarea{resize:vertical}
tbody#decks{cursor:pointer}
#deck-content img{height:15px;vertical-align:text-bottom}
.type,.gang{text-align:center}
.nav-tabs{margin-bottom:15px}
tbody .btn-group{white-space:nowrap}
/* .btn-group>.btn,.btn-group-vertical>.btn{float:none;display:inline-block} */
.dropdown-menu input{margin:-4px 8px 0 -6px}
.dropdown-menu label{margin:0}
#collection td{vertical-align:middle}
.decklist .comment-date{color:lightgray;float:right}
.decklist .comment-text{clear:right;font-size:93%;}
.decklist h1{border-bottom:1px solid lightgray}
.decklist h1 img{vertical-align:text-top;margin-right:10px}
.decklist-social{color:darkgray}
.decklist-social>div>a,.decklist-social>div>span{margin:0 10px}
.social-icon-like{color:red}
.social-icon-favorite{color:orange}
.social-icon-comment{color:green}
#table-similar td{color:darkgray}
#table-similar td:hover{color:black}
/*.decklists .decklist-social span{color:darkgray}*/
.social-icon-like:hover{color:red}
.social-icon-favorite:hover{color:orange}
.social-icon-comment:hover{color:green}
.decklists .decklist-outfit-image img{height:64px}
.table-decklists {table-layout:fixed;}
.decklists{overflow: hidden;text-overflow: ellipsis}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{background-color:rgba(0,0,0,0.05)}
#collection-grid .col-sm-6 .media {margin-bottom:10px;padding-bottom:10px;border-bottom:1px dashed lightgray;overflow:hidden;}
#collection-grid .col-sm-6 .media-object {height:100px}
#collection-grid .col-sm-6 .media-heading {line-height:50px;white-space:nowrap;font-family:Arial}
#collection-grid .col-sm-4 .media {margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted lightgray;overflow:hidden;}
#collection-grid .col-sm-4 .media-object {height:70px}
#collection-grid .col-sm-4 .media-heading {line-height:30px;overflow:hidden;white-space:nowrap;font-family:Arial}
#table-draw-simulator-content img.card {width:99px;float:left;margin:5px;box-shadow: black 0px 0px 5px;border-radius: 5px;}


.twitter-typeahead{width:100%}
.twitter-typeahead .tt-hint{color:#aaa;margin-left:11px;margin-top:4px}

.twitter-typeahead .tt-hint {
	display: none;
}
.twitter-typeahead .tt-query {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

#deck-description > h1 {
font-size: 24px;
font-family: serif;
border: none;
}
#deck-description > h2 {
font-size: 20px;
font-family: serif;
}
#deck-description > h3 {
font-size: 18px;
font-family: serif;
}

#index_page .section {
	color: crimson;
	
}
.deck-list-group-item {
	box-sizing: content-box;
	min-height: 80px;
}
.deck-list-group-item.selected {
	background: #eee !important;
}
.deck-list-group-item div.deck-list-outfit-image {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: 50% 25%;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
}
#deck_browser {
	margin: 10px 0;
	width: 100%;
}
#deck_browser_left {
	direction: ltr;
	width: 1%;
	white-space: nowrap;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
#deck_browser_center {
	text-align: center;
	background: white;
}
#deck_browser_right {
	direction: rtl;
	width: 1%;
	white-space: nowrap;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
#deck_browser div {
	width: 10px;
overflow: show;
display: inline-block;
position: relative;
}
.deck_browser_150 div {
	height: 150px;
}
.deck_browser_300 div {
	height: 300px;
}
#deck_browser_left div {
	-webkit-transform: translateZ(1px) translateX(1px) rotateY(40deg);
-ms-transform: translateZ(1px) translateX(1px) rotateY(40deg);
transform: translateZ(1px) translateX(1px) rotateY(40deg);
-webkit-transform-origin: 0 75px;
-ms-transform-origin: 0 75px;
transform-origin: 0 75px;
}
#deck_browser_center div {
	width: auto;
	z-index: 1;
}
#deck_browser_center div img {
		box-shadow: 0 0 20px 10px white;
	
}
#deck_browser_right div {
	-webkit-transform-origin: 100% 0;
-ms-transform-origin: 100% 0;
transform-origin: 100% 0;
-webkit-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
-ms-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
}
#deck_browser div img {
height: 100%;
border: 1px solid white;
border-radius: 10px;
}
#deck_gallery { width: 100%; table-layout: fixed; border-collapse: collapse; overflow: hidden }
#deck_gallery td { padding: 0 }
#deck_gallery td > div { height: 100px; overflow: visible; position: relative }
#deck_gallery td > div > img { height: 100% ; border: 1px solid white; border-radius: 10px;}
#deck_gallery td > div > div { background: rgba(0, 0, 0, 0.5); position: absolute; left: 1px; bottom: 1px; color: white; width: 24px; height: 24px; line-height: 24px; font-size: 16px; font-weight: bold; text-align: center; border-radius: 15px; font-family: monospace }

@-webkit-keyframes animDonator { 
    0% { color: rgba(255,223,48, 1); }
    100% { color: rgba(255,223,48, 0.2); }
}
.donator {
    animation: animDonator 2s ease-in 0s infinite alternate;
    -webkit-animation: animDonator 2s ease-in 0s infinite alternate;
    color: rgba(255,223,48, 1);
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}
div.no-image {
	border:1px solid silver;
	border-radius:20px;
	width:300px;
	height:418px;
	position:relative;
}
div.no-image-text {
	line-height:20px;
	height:20px;
	overflow:auto;
	margin:auto;
	top:0;
	bottom:0;
	width:100%;
	position:absolute;
	text-align:center;
}

div.deck-composition td.level-0 { background: #FFD3A7; }
div.deck-composition td.level-1 { background: #E5BE97; }
div.deck-composition td.level-2 { background: #BF9E7E; }
div.deck-composition td.level-3 { background: #7F6A54; }
div.deck-composition td.level-4 { background: #40352A; }

.card-start { font-weight: bold }
.card-start::after { 
    content: "*";
}

.card-start1 { font-weight: bold }
.card-start1::after { 
    content: "*";
}
.card-start2 { font-weight: bold }
.card-start2::after { 
    content: "**";
}
.card-start3 { font-weight: bold }
.card-start3::after { 
    content: "***";
}
.card-start4 { font-weight: bold }
.card-start4::after { 
    content: "****";
}


#list article.review {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid #ddd;
}
#index_page article.review {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ddd;
}
article.review:first-child {
	margin-top: 0 !important;
}
article.review  header {
	font-size: 120%;
	margin-bottom: 1em;
}
article.review div.review-content {
	
}
article.rules a {target: _blank;}
article.rules aside{border-left:1px solid blue;padding-left:20px}
article.rules span.dtr{font-style:italic;white-space:nowrap}
article.rules p{text-align:justify}
article.rules li{text-align:justify}
article.rules div.insert{border:1px solid DarkOrange; display: inline-block; padding:5px}
article.rules p.italic{font-style:italic}
article.rules{border-top:1px dashed black;clear:both}
article.rules nav.inner{float:right;border-left:1px solid DarkOrange;border-bottom:1px solid DarkOrange;margin-left:20px}
article.rules table.bordered, table.bordered th, table.bordered td {
    border: 1px solid black;
    border-collapse: collapse;
}
article.rules table.bordered th, table.bordered td {
    padding: 15px;
}

div.structure a 						{target: _blank;}
div.structure h1						{ text-align: center; }
div.structure table						{ border-spacing: 5px; border-collapse: separate;}
div.structure th, td					{ padding: 10px; }
div.structure th						{ background-color: #ccc; font-size: 24px; text-align: center;}
div.structure #table1	td 				{ border: 1px solid black; }
div.structure #table1	td:first-child	{ border: none; font-weight: bold; font-size: 20px; width: 25%; }
div.structure #table2	td				{ border: 2px solid black; }
div.structure #table2	td:empty		{ border: none; }

.page-header {
	border-bottom-color: #ddd;
}
@media (min-width: 992px) {
	#recent_decklists {
		 border-right:1px solid #ddd;
	}
}
@media (min-width: 1200px) {
	#right-column {
		 border-left:1px solid #ddd;
	}
}
