<!DOCTYPE html>
<html>
  <head>
    <title>{{ pagetitle|default('Deckbuilder') }} &middot; DoomtownDB.fr</title>
    <link rel="icon" sizes="16x16" href="{{  asset('/web/bundles/dtdbbuilder/images/favicon.png') }}" />
    <link rel="icon" sizes="196x196" href="{{  asset('/web/bundles/dtdbbuilder/images/icon.png') }}" />
    <link rel="apple-touch-icon" sizes="129x129" href="{{  asset('/web/bundles/dtdbbuilder/images/apple-touch-icon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.css">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Noto+Sans:400,700,400italic,700italic|Anaheim|Ultra&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('/web/bundles/dtdbbuilder/css/style.css') }}">
    
    <script src="{{ asset('/web/bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.9/highcharts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.2.5/moment-timezone.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/taffydb/2.7.2/taffy-min.js"></script>
    <script src="{{ asset('/web/bundles/dtdbbuilder/js/jquery.textcomplete.min.js') }}"></script>
    <script type="text/javascript">
	var DTDB = {
		data_loaded: $.Callbacks(),
		api_url: {
			sets: '{{ path('api_sets')|raw }}',
			cards: '{{ path('api_cards')|raw }}'
		},
		locale: '{{ app.request.locale }}'
	};
{% if app.environment == 'prod' %}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-89752334-1', 'auto');
ga('send', 'pageview');
{% endif %}
    </script>
    <script src="{{ asset('/web/bundles/dtdbbuilder/js/dtdb.js') }}"></script>
    <script src="{{ asset('/web/bundles/dtdbbuilder/js/dtdb.user.js') }}"></script>
    <script src="{{ asset('/web/bundles/dtdbbuilder/js/dtdb.data.js') }}"></script>
    <script src="{{ asset('/web/bundles/dtdbbuilder/js/dtdb.format.js') }}"></script>
    <script src="{{ asset('/web/bundles/dtdbbuilder/js/dtdb.tip.js') }}"></script>
{% block head %}{% endblock %}
  </head>
  <body>
  <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          {% block navbar %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="{{ path('deck_builder_index') }}"><img src="{{  asset('/web/bundles/dtdbbuilder/images/icon.png') }}" class="img-responsive navbar-icon">DoomtownDB.fr</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('decks_list') }}">My Decks</a></li>
            <li><a href="{{ path('decklists_list', {type:'popular'}) }}">Decklists</a></li>
            <li><a href="{{ path('cards_search') }}">Cards</a></li>
            <li><a href="{{ path('card_reviews_list') }}">Reviews</a></li>
            <li class="hidden-sm dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rules <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header"><a href="http://pineboxentertainment.com/resources" target = "_blank">Official Rules</a></li>
                <li><a href="http://pineboxentertainment.com/wp-content/uploads/2018/07/doomtown_rulebook_v1.4.0.pdf" target="_blank">Rulebook v1.4.0 (2018-07-06)</a></li>
                <li><a href="http://pineboxentertainment.com/wp-content/uploads/2018/07/doomtown_rules_compendium_v0.8.0.pdf" target="_blank">FAQ/Compendium v0.8 (2018-07-06)</a></li>
                <li><a href="http://pineboxentertainment.com/wp-content/uploads/2017/08/doomtown_floor_rules_v1.1.pdf" target="_blank">Floor Rules v1.1 (2017-02-21)</a></li>
                <li><a href="http://pineboxentertainment.com/wp-content/uploads/2018/07/recent_updates_1.4.0_and_0.8.0.pdf" target="_blank">Recent Updates (2018-07-06)</a></li>
                <li><a href="{{ path('cards_rules') }}">Addl. Falling Rock Rules</a></li>
                <li class="divider"></li>
                <li role="presentation" class="dropdown-header">Online play</li>
                <li><a href="/en/octgnGuide">OCTGN Guide</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="login">
                <a href="#" class="dropdown-toggle loginname" data-toggle="dropdown">Account <b class="caret"></b></a>
            </li>
          </ul>
          <form class="navbar-form navbar-right hidden-xs hidden-sm external" action="{{ path('cards_find') }}" target="_blank">
            <div class="form-group">
              <input type="text" placeholder="Card Search" class="form-control" name="q">
            </div>
          </form>
        </div><!--/.navbar-collapse -->
        {% endblock %}
      </div>
    </nav>
  
{% block body %}{% endblock %}
    <div id="push"></div>
  </div>
    <div id="footer" class="hidden-print">
    <div class="container">
    
{% block footer %}
<div class="row">
    <div class="col-xs-12">
    
    <ul class="list-inline pull-right">
    {% if locales is defined %}
	{{ locales|raw }}
	{% endif %}
    </ul>
    
    <ul class="list-inline">
    <li><a href="{{ path('cards_about') }}">About</a></li>
    <li><a href="{{ path('cards_changelog') }}">Change Log</a></li>
    <li><a href="javascript:localStorage.clear()">Clear data</a></li>
    </ul>
    
    <p>
    Designed and built by <a href="//twitter.com/alsciende">@alsciende</a>
    </p>
    <p>
    Improved as dtdb.co by <a href="//twitter.com/platypusDT">@platypusDT</a>
    </p>
    <p>
    Maintenance and improvements involving Doomtown:Falling Rock by <a href="//twitter.com/attrezzoDT">@attrezzoDT</a>
    </p>
    
    <p>
    Bug reports and Feature Requests on <a href="https://bitbucket.org/platypusDT/dtdb/issues?status=new&status=open" target="_blank">BitBucket</a>
    </p>
    <p> 
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="BS53WXPMNTR5C">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="Donate to dtdb.fr"> to DTDB.fr
		
	</form>
    </p>
    
    <p style="color:#333">
    The information presented on this site about Doomtown:Reloaded and its related IP, both literal and graphical, is copyrighted by AEG. Falling Rock cards and graphics are fan productions and are in no way affiliated with nor endorsed by AEG or Pinnacle Entertainment Group. Falling Rock cards are not legal for play in official Doomtown:Reloaded tournaments. All Falling Rock cards are distributed freely by <a href="http://doomtown.fr">doomtown.fr</a> and are reorganized and reused by this site under the same legal and copyright conditions.
    </p>

    </div>
</div>
{% endblock %}

    </div>
    </div>
    </body>
</html>
