{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block title %}{% trans %}Card Search{% endtrans %}{% endblock %}

{% block body %}
<div class="container">

<script type="text/javascript" src="{{ asset('/web/bundles/dtdbcards/js/save-settings.js') }}"></script>

<div class="row">

<div class="col-sm-3">

	{{ allsets|raw }}
	
</div>

<div class="col-sm-9">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form">

<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				{% for gang in gangs %}
				{% if loop.index0 is divisible by(11) %}
				</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="form-group">
			<label for="g">{% trans %}Gang{% endtrans %}</label>
			<div class="btn-group btn-group-justified" data-toggle="buttons">			
				{% endif %}
				<label class="btn btn-default inactive" style="width:20px">
					<input type="checkbox" name="g[]" value="{{ gang.code1 }}"><img src="{{ asset('/web/bundles/dtdbbuilder/images/' ~ gang.code ~ '-20.png') }}" title="{{ gang.name }}">
				</label>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-sm-4">		
		<div class="form-group">
			<label for="v">{% trans %}Value{% endtrans %}</label>
			<div class="row">
			     <div class="col-sm-4">
				<select name="vo" id="vo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
			     </div>
			     <div class="col-sm-8">
				<input id="v" name="v" value="" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">

<div class="col-sm-4">


		<div class="form-group">
			<label for="q">{% trans %}Title{% endtrans %}</label>
			<div>
				<input class="form-control" size="30" id="q" name="q" value="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="x">{% trans %}Text{% endtrans %}</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="f">{% trans %}Flavor Text{% endtrans %}</label>
			<div>
				<input class="form-control" size="30" id="f" name="f" value="">
			</div>
		</div>
					
		<div class="form-group">
			<label for="a">{% trans %}Artist{% endtrans %}</label>
			<div>
				<select class="form-control" name="a" id="a"><option value="">{% trans %}any{% endtrans %}</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
			</div>
		</div>
    
		<div class="form-group">
			<label for="d">{% trans %}Previews{% endtrans %}</label>
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-default active"><input type="radio" name="d" checked value="">{% trans %}Yes{% endtrans %}</label>
				<label class="btn btn-default"><input type="radio" name="d" value="<now">{% trans %}No{% endtrans %}</label>
				<label class="btn btn-default"><input type="radio" name="d" value=">now">{% trans %}Only{% endtrans %}</label>
			</div>
		</div>
			
</div>
<div class="col-sm-4">

		
		
		<div class="form-group">
			<label for="e">{% trans %}Expansion{% endtrans %}</label>
			<div>
				<select class="form-control" name="e" id="e"><option value="">{% trans %}any{% endtrans %}</option>{% for pack in packs %}<option value="{{ pack.code }}">{{ pack.name }}</option>{% endfor %}</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="t">{% trans %}Type{% endtrans %}</label>
			<div>
				<select class="form-control" name="t" id="t"><option value="">{% trans %}any{% endtrans %}</option>{% for type in types %}<option value="{{ type }}">{{ type }}</option>{% endfor %}</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="k">{% trans %}Keywords{% endtrans %}</label>
			<div>
				<select class="form-control" name="k" id="k"><option value="">{% trans %}Any{% endtrans %}</option>{% for keyword in keywords %}<option value="{{ keyword }}">{{ keyword }}</option>{% endfor %}</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="s">{% trans %}Shooter{% endtrans %}</label>
			<div>
				<select class="form-control" name="s" id="s"><option value="">{% trans %}any{% endtrans %}</option>{% for shooter in shooters %}<option value="{{ shooter }}">{{ shooter }}</option>{% endfor %}</select>
			</div>
		</div>
		
</div>
<div class="col-sm-4">

		
		
		<div class="form-group">
			<label for="r">{% trans %}Cost or Wealth{% endtrans %}</label>
			<div class="row">
			     <div class="col-sm-4">
			 	<select name="ro" id="ro" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
			     </div>
			     <div class="col-sm-8">
				<input id="r" name="r" value="" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="b">{% trans %}Bullets{% endtrans %}</label>
			<div class="row">
			     <div class="col-sm-4">
				<select name="bo" id="bo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
			     </div>
			     <div class="col-sm-8">
				<input id="b" name="b" value="" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="i">{% trans %}Influence{% endtrans %}</label>
			<div class="row">
			     <div class="col-sm-4">
				<select name="io" id="io" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
			     </div>
			     <div class="col-sm-8">
				<input id="i" name="i" value="" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="c">{% trans %}Control{% endtrans %}</label>
			<div class="row">
			     <div class="col-sm-4">
				<select name="co" id="co" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
			     </div>
			     <div class="col-sm-8">
				<input id="c" name="c" value="" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="p">{% trans %}Production{% endtrans %}</label>
			<div class="row">
			     <div class="col-sm-4">
				<select name="po" id="po" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
			     </div>
			     <div class="col-sm-8">
				<input id="p" name="p" value="" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="u">{% trans %}Upkeep{% endtrans %}</label>
			<div class="row">
			     <div class="col-sm-4">
				<select name="uo" id="uo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
			     </div>
			     <div class="col-sm-8">
				<input id="u" name="u" value="" class="form-control">
				</div>
			</div>
		</div>
		

</div>

</div>
<div class="row">
<div class="col-sm-12">

<div class="form-group">
	{% include 'DtdbCardsBundle:Default:searchoptions.html.twig' %}
	<div class="col-md-4">
		<button class="btn btn-primary" type="submit">{% trans %}Search{% endtrans %}</button>
	</div>
</div>
</div>

</div>

</form>

</div>

</div>

</div>
{% endblock %}
