{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script>
$(function() {
}
</script>
{% endblock %}

{% block body %}

<div class="container decklists">
<div class="row">

<div class="col-md-5 col-md-push-7">
<div class="panel panel-default">
  <div class="panel-body">
    <h1><span class="{{ user.gang }}">{{ user.username }}</span>
    {% if user.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="DoomtownDB.fr Gracious Donator"></span>{% endif %}
    <small>{{ user.reputation }}</small></h1>
	<p>Member since {{ user.creation|date('Y-m-d') }}</p>
    {% if user.resume %}<blockquote>
    		{{ user.resume }}
   	</blockquote>{% endif %}

 </div>
</div>

</div>

<div class="col-md-7 col-md-pull-5">

   	<h3>Published decklists:</h3>
<table class="table">
<thead></thead>
<tbody>

{% for decklist in decklists %}

<tr>
<td class="decklist-outfit-image hidden-xs">
	<img src="/web/bundles/dtdbcards/images/cards/en/{{ decklist.code }}.jpg" class="card img-responsive" data-toggle="tooltip" data-index="{{ decklist.code }}">
</td>
<td>
	<h4>
		<small class="pull-right decklist-social">
			<span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}
			<span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}
			<span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}
		</small>
		<a class="decklist-name" href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
	</h4>
	<h5 class="username author">
		<span class="pull-right decklist-creation">{{ decklist.creation|date('M d') }}</span>
		
	</h5>
</td>
</tr>
{% endfor %}

</tbody>
</table>

<div class="text-center">
<ul class="pagination pagination-sm" style="margin:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

</div>


</div>
</div> <!-- .container -->

{% endblock %}
